.container {
  max-width: 70rem;
  margin-top: calc(0pc - 1.5rem);
}

.newTask {
  display: flex;
  align-items: center;
}

.newTask input {
  height: 2.5rem;
  width: 31rem;
  margin-right: 1rem;
  border: none;
  border-radius: 4px;
  padding: 0.875rem;
}

.newTask button {
  width: 9rem;
  height: 2.5rem;
  background-color: var(--blue-600);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: background-color 0.2s;
}

.newTask button:hover {
  background-color: var(--blue-400);
}

.content {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
}

.contentTask {
  background-color: var(--gray-400);
  padding: 0.625rem;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
}

.contentInfo {
  display: flex;
  align-items: center;
}

.contentInfo input[type="checkbox"] {
  margin-right: 1rem;
}

.contentInfo p {
  font-size: 1.2rem;
  font-weight: 700;
}

.contentTask button {
  background: transparent;
  border: 0;
  color: var(--gray-200);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;

  transition: color 0.2s;
}

.contentTask button:hover {
  color: var(--red-500);
}
